@use '../../app/palette';

.LocationInsights {
  position: absolute;
  width: 340px;
  height: 150px;
  display: grid;
  grid-template: min-content 1fr / 2fr 1.5fr;
  top: 16px;
  right: 16px;
  row-gap: 4px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--outline-variant);
  color: var(--on-surface-variant);
  background-color: var(--surface);
  white-space: nowrap;
  cursor: default;

  .heavy {
    color: var(--on-surface);
  }

  .Spinner {
    grid-area: 1 / 1 / -1 / -1;
    justify-self: center;
    align-self: center;
  }

  .temperature-summary {
    display: grid;
    grid-template: 1fr min-content min-content / repeat(
        2,
        min-content
      );
    align-items: center;
    column-gap: 4px;
    padding: 8px 24px 8px 0;
    border-right: 1px solid var(--outline-variant);

    svg.weather-icon {
      grid-area: 1 / 1 / -1 / 2;
      width: 72px;
    }

    b.temp {
      font-size: 28px;
    }
  }

  .weather-metadata {
    display: flex;
    flex-direction: column;
    padding-left: 12px;

    > .heat-risk,
    > .uv-index {
      display: grid;
      grid-template:
        repeat(2, min-content)
        / min-content 1fr;

      svg {
        grid-row: 1 / -1;
        height: 100%;
      }

      > b {
        font-size: 14px;
      }
    }

    > .heat-risk {
      padding-bottom: 4px;
      border-bottom: 1px solid var(--outline-variant);

      svg {
        color: palette.$red;
      }
    }

    > .uv-index {
      padding-top: 4px;
    }
  }

  .current-location {
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(2, min-content) / min-content 1fr;
    gap: 4px;
    padding: 4px;
    border-radius: 4px;
    line-height: 100%;
    background: var(--surface-variant);

    .pulsing-dot {
      grid-row: 1 / -1;
      width: 8px;
      height: 8px;
      align-self: center;
      margin: 0 8px;
      background: var(--primary);
      border-radius: 50%;

      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        margin-top: -8px;
        margin-left: -8px;
        border-radius: 50%;
        background: color-mix(
          in srgb,
          var(--primary),
          transparent 50%
        );
        animation: pulse 1.2s infinite;
      }
    }

    .desc {
      color: var(--on-surface);
    }

    .coord {
      font-size: 10px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    transform: scale(1.4);
    opacity: 0;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
