{
  "arrowParens": "avoid",
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "plugins": ["@prettier/plugin-xml"],
  "printWidth": 60,
  "singleQuote": true,
  "trailingComma": "es5"
}
