/**
  * @file Palette variables for colors referenced in the app.
  * Colors are named as per {@link https://chir.ag/projects/name-that-color}
  */

$alabaster: #fafafa;
$cod-gray: #1e1e1e;
$emperor: #555;
$gray-chateau: #99a1af;
$green-pea: #267346;
$iron: #dee1e3;
$mine-shaft: #262626;
$red: #e80101;
$white: #fff;
