/**
  * @file Palette variables for colors referenced in the app.
  * Colors are named as per {@link https://chir.ag/projects/name-that-color}
  */

$cod-gray: #1e1e1e;
$gray-chateau: #99a1af;
$green-pea: #267346;
$iron: #dee1e3;
$white: #fff;
