/**
  * @file Palette variables for colors referenced in the app.
  * Colors are named as per {@link https://chir.ag/projects/name-that-color}
  */

$athens-gray: #ededf0;
$blue-chalk: #f1e6ff;
$cararra: #fafaf8;
$catskill-white: #e3eaf2;
$cod-gray: #1e1e1e;
$fog: #e6d8ff;
$gray-chateau: #99a1af;
$heliotrope: #9557f6;
$heliotrope-variant: #a970ff;
$loblolly: #bbc0ca;
$oxford-blue: #374151;
$pale-sky: #6b7280;
$porcelain: #edeff0;
$port-gore: #31214b;
$revolver: #231836;
$river-bed: #4a5565;
$shark: #26262b;
$white: #fff;
$woodsmoke: #0e0e11;
