.LayerControl {
  width: 260px;
  position: absolute;
  top: 100px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--outline-variant);
  background-color: var(--surface);
  cursor: default;

  &:not(.expanded) {
    svg.caret {
      transform: rotate(180deg);
    }

    .LayerControlList {
      display: none;
    }
  }

  button.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

    h2 {
      font-size: 14px;
    }

    svg.caret {
      width: 18px;
    }
  }

  .LayerControlList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 4px;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;

        .icon {
          width: 22px;
        }
      }

      .switch {
        width: 30px;
        height: 18px;
        border-radius: 50px;
        border: none;
        background: var(--outline-variant);
        transition: background 150ms ease;
        cursor: pointer;

        &[data-state='checked'] {
          background: var(--primary);
        }

        .thumb {
          display: block;
          width: 14px;
          height: 14px;
          margin-left: 2px;
          background: var(--surface);
          border-radius: 50px;
          transition: transform 150ms ease;
          will-change: transform;

          &[data-state='checked'] {
            transform: translateX(12px);
          }
        }
      }
    }
  }
}
